{% extends "base_generic.html" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<div class="container">
  <div class="starter-template">
    <h2>{{ book.title }}</h2>
    <h3>{{ book.author }}</h3>
    <p>ISBN: {{ book.ISBN }}</p>
    <p>${{ book.price }}</p>
    <p>Year: {{ book.year }}</p>
    <p>Relevant class: {{ book.class_id }}</p>
    <p>Edition: {{ book.edition }}</p>
    <p>Status: {{ book.status }}</p>
    <p>Type: {{ book.type_name }}</p>
    <p>Condition: {{ book.condition }}</p>
    <p>Seller: {{ book.seller.name }}</p>
    <p>Buyer: {% if book.buyer == None %}None{% else %}{{ book.buyer.name }}{% endif %}</p>
    <h4>Related Items</h4>
    {% for book in recs %}
      <a class = "lead" href="{% url 'book_detail' book_id=book.id %}">{{ book.title }}</a><br>
    {% endfor %}
  </div>
</div>
{% endblock %}
